body {
  max-width: 35em;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.h3 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

label {
  display: inline-block;
  width: 100%;
}

#paypal-radio {
  display: inline-block;
  vertical-align: middle;
}

#blik-mark {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

#paypal-mark {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

#paypal-fields {
  margin: 20px 0;
}

#blik-container {
  padding-top: 1rem;
  padding-left: 27px;
  padding-right: 27px;
}

#blik-btn,
#paypal-btn {
  margin-top: 1rem;
  margin-left: 30px;
  margin-right: 30px;
}
