name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.8.9 
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}} 
          heroku_app_name: blik-js-sdk # Must be unique in Heroku
          heroku_email: ${{secrets.HEROKU_EMAIL}} 
          usedocker: true
          docker_build_args: |
            NODE_ENV
            PAYPAL_CLIENT_ID
            PAYPAL_CLIENT_SECRET
        env:
          NODE_ENV: staging
          PAYPAL_CLIENT_ID: ${{secrets.PAYPAL_CLIENT_ID}}
          PAYPAL_CLIENT_SECRET: ${{secrets.PAYPAL_CLIENT_SECRET}}